<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.harvesthub</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>The Harvest Hub</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.2</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.943734294750-2b0s5seffmei1v7llmnjhjgvp38s1uk2</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1.0.2</string>
	<key>CLIENT_ID</key>
	<string>943734294750-2b0s5seffmei1v7llmnjhjgvp38s1uk2.apps.googleusercontent.com</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>We need camera access to take profile photo</string>
	<key>NSPhotoLibraryUsageDescription</key>
<string>We need gallery access to select profile photo</string>

	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Our app requires your location to provide navigation directions and location-based content even when the app is running in the background.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Our app needs access to your location to improve the search results and suggest nearby job opportunities.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>We need access to your microphone to record audio while capturing video.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>We need permission to save videos to your gallery.</string>
	<!-- <key>NSPhotoLibraryUsageDescription</key>
	<string>Our app needs access to your photo library to let you upload profile pictures directly from your device.</string> -->
	<key>RCTNewArchEnabled</key>
	<true/>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.943734294750-2b0s5seffmei1v7llmnjhjgvp38s1uk2</string>
	<key>UIAppFonts</key>
	<array>
		<string>WorkSans-Bold.ttf</string>
		<string>WorkSans-ExtraBold.ttf</string>
		<string>WorkSans-Light.ttf</string>
		<string>WorkSans-Medium.ttf</string>
		<string>WorkSans-Regular.ttf</string>
		<string>WorkSans-SemiBold.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
